/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push header to top and footer to bottom */
  min-height: 100dvh; /* Viewport height */
}

/* Header and Footer Styles */
.header {
  background-color: #0077ff;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
